.col.s12.m12
  .message-container.z-depth-1.grey-text.text-darken-2
    .message-header-content
      = image_tag(profile_image_url(message.owner), class: "circle")
      .message-user-nickname-disp= message.format_user_nickname

    .divider

    .message-text-content= simple_format(message.text)

    .message-created-at-disp.grey-text.u-fz10.right= message.created_at.strftime('%Y/%m/%d %H:%M')
