.row
  .col.s12
    %p.light-blue-text メールアドレス
    %span.u-fz13.grey-text.text-darken-2= user.email


.divider

.row
  .col.s6
    %p.light-blue-text 性別
    %span.u-fz13.grey-text.text-darken-2= user.format_sex
  .col.s6
    %p.light-blue-text 生年月日
    %span.u-fz13.grey-text.text-darken-2= user.format_birthday

.divider
