#index-banner
  .row
    .col.s9.m9
      %ul.collection.with-header
        %li.collection-header
          %h5 オフ会一覧
        = render @articles

      .col.s3.m3


.center-align
  = paginate @articles
