%li.collection-item.avatar.js-article-header.grey-text.text-darken-2.u-curp
  / 本来は投稿に紐づく画像か、投稿主のプロフィール画像を表示するべきだが、まだそこまで実装できていないので、暫定対応として適当に画像を表示している。
  = image_tag(%w[shimaenaga.jpg ugly_cat.jpg owl_and_mushroom.jpg ao.jpg sora.jpg sato_chiaki.jpg galaxy.jpg live_man.jpg].sample, class: "circle")

  %span.u-fz11.grey-text.valign-wrapper
    %i.material-icons.tiny.u-mr5 date_range
    = article.format_event_date
    %i.material-icons.tiny.u-mr5.u-pl10 place
    = article.format_prefecture_name
  %span.title.truncate= article.format_title
