.section
  = render 'header_tab'

  - if @articles.present?
    %ul.collection{style: "margin-top: 0; padding-top: 0;"}
      = render @articles
  - else
    .u-mt30.center.u-fz16.grey-text.text-lighten-2 投稿がありません
