.section
  = render 'header_tab'

  - if @favorites.present?
    %ul.collection{style: "margin-top: 0; padding-top: 0;"}
      = render @favorites
  - else
    .u-mt30.center.u-fz16.grey-text.text-lighten-2 お気に入りが登録されていません
