.section
  = render 'header_tab'

  %ul.collection{style: "margin-top: 0; padding-top: 0;"}
    - if @favorites.present?
      = render @favorites
    - else
      %li.collection-item.center.grey-text.text-lighten-2 お気に入りが登録されていません
