.section
  = render 'header_tab'

  - if @participations.present?
    %ul.collection{style: "margin-top: 0; padding-top: 0;"}
      = render @participations
  - else
    .u-mt30.center.u-fz16.grey-text.text-lighten-2 参加中のオフ会がありません
