// 基本カラーの指定
$primary-color: color("light-blue", "base") !default;

$white: #fff;
$black: #333;

$gray1: #f2f2f2;
$gray2: #efefef;
$gray3: #ddd;
$gray4: #aaa;
$gray5: #666;

$red1: #f8e7e9;
$red2: #f7d4d7;
$red3: #f1b7bd;
$red4: #eb8a93;
$red5: #e9606d;
$red6: #dc2639;

$blue1: #e6f0f7;
$blue2: #d5e9f7;
$blue3: #b8dbf2;
$blue4: #8ac4eb;
$blue5: #117ec6;
$blue6: #106dab;

$green1: #e6f7ec;
$green2: #d5f7e0;
$green3: #b8f2cb;
$green4: #8aeba9;
$green5: #12c74b;
$green6: #0fab41;

$orange1: #f7efe6;
$orange2: #f7e7d5;
$orange3: #f2d6b8;
$orange4: #ebbc8a;
$orange5: #e8a65f;
$orange6: #ab600f;

$yellow1: #f7f4e6;
$yellow2: #f7f0d5;
$yellow3: #f2e6b8;
$yellow4: #ebd68a;
$yellow5: #f4c51c;
$yellow6: #ab890f;

// SNSカラーの指定
$color-twitter: #55acee;
$color-facebook: #3b5998;
$color-hatena: #00a4de;
$color-google: #dc4e41;
$color-pocket: #d3505a;
$color-github: #333;
