/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

@import "materialize/extras/nouislider";
@import "materialize/components/color";
$primary-color: color("light-blue", "base") !default;
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "materialize";
@import "module/color";
@import "module/head";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav ul a,
nav .brand-logo {
  @extend .grey-text, .text-darken-2;
}

.navbar-fixed {
  z-index: 1000; // navbar-fixedを適用するときに、スマホのサイドメニューの表示に不具合が生じてしまう。その不具合解消法としてz-indexを997よりもう高い値にしている。
}
