%footer.page-footer.grey.darken-4
  .container
    .row
      .col.l7.s12
        %ul
          %li
            =link_to "記事リンク", articles_path, class: "white-text"

      .col.l5.s12
        -# お問い合わせフォーム
        = render 'inquiries/footer_form'

  .footer-copyright.black
    .container
      = "© 2017 OffOK, All rights reserved."
